:root {
    --color-red-pokeball: #fe3e31;
    --color-gray-pokeball: #575759;
    --color-gray-darker-pokeball: #262627;
    --color-gray-lighter-pokeball: #727274;
    font-size: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'signika';
}

#page-header {
    background-color: var(--color-red-pokeball);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 6rem;
}

#header-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4rem;
    padding: 1rem;
}

#title-box {
    margin: 1.1rem;
    border: solid 3px var(--color-gray-pokeball);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    font: 700 1.4rem "signika";
}

.page-content {
    margin: 1rem;
    border: solid 6px var(--color-gray-pokeball);
    padding: 1.1rem;
    border-radius: 3px;
    background-color: white;
    font: 400 1rem "signika";
}

#filler {
    height: 2.5rem;
}

#page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-gray-pokeball);
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-footer p {
    margin: 1rem;
    font: 700 0.7rem "Press Start 2P";
}

#pokemon-logo {
    width: 5rem;
    padding-right: 1rem;
}